.NavBar {
    text-align: center;
    height: 75px;
    position: fixed;
    top: 0;
    grid-column-start: 1;
    grid-column-end: 12;
    background-color: black;
    width: 100%;
    grid-row-start: 1;
}

.Nav {
    position: sticky;
    grid-column-start: 1;
    grid-column-end: 12;
    vertical-align: middle;
    text-decoration: none;
    height: 75px;
    align-items: center;
}

.ReverseImage {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 12;
}

#Nav1 {
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    font-size: 25px;
    font-family: fantasy;
    background-color: black;
    border: none;
}

#Nav2 {
    color: white;
    grid-column-start: 4;
    grid-column-end: 6;
    text-align: center;
    font-size: 25px;
    text-align: center;
    font-family: fantasy;
    background-color: black;
    border: none;
}

#Nav3 {
    color: white;
    grid-column-start: 7;
    grid-column-end: 9;
    text-align: center;
    font-size: 25px;
    text-align: center;
    font-family: fantasy;
    background-color: black;
    border: none;
}

#Nav4 {
    color: white;
    grid-column-start: 10;
    grid-column-end: 12;
    text-align: center;
    font-size: 25px;
    text-align: center;
    font-family: fantasy;
    background-color: black;
    border: none;
}

.InputPicture {
    width: 640px;
    height: 360px;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 8;
    margin: auto;
    overflow: hidden;
}

.InputButton {
    text-align: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    grid-column-start: 7;
    grid-row-start: 2;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 25px;
    overflow: hidden;
}

.ColorTextureToggle {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 3;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.Pagination {
    margin-bottom: 20px;
    grid-template-columns: auto;
    grid-column-start: 1;
    grid-column-end: 6;
}

.UploadDataset {
    grid-row-start: 20;
    grid-row-end: 20;
    margin-bottom: 30px;
    margin-left: 30px;
}

.Sementara {
    grid-row-start: 2;
}

.ImageInput {
    margin-bottom: 50px;
    margin-top: 50px;
    grid-template-columns: repeat(8, 1fr);
}

.ImageOutput {
    grid-row-start: 9;
    grid-row-end: 12;
    grid-column-start: 1;
    grid-column-end: 8;
}

.ResultText {
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 15px;
    font-family: cursive;
    font-weight: bold;
    margin-left: 85px;
}

.Runtime {
    text-align: center;
    grid-column-start: 5;
    grid-column-end: 8;
    margin-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: right;
    margin-right: 85px;
}

.Prev {
    width: 50%;
    grid-column-start: 1;
    border-radius: 25px;
    grid-row-start: 1;
    text-align: center;
    margin: auto;
    background-color: black;
    color: white;
    align-items: center;
    height: 40px;
    cursor: pointer;
}

.Page {
    width: 50%;
    grid-column-start: 3;
    text-align: center;
    margin: auto;
    background-color: black;
    border-radius: 25px;
    color: white;
    align-items: center;
    height: 40px;
}

.Next {
    width: 50%;
    grid-column-start: 5;
    border-radius: 15%;
    text-align: center;
    margin: auto;
    border-radius: 25px;
    background-color: black;
    align-items: center;
    color: white;
    height: 40px;
    cursor: pointer;
}

.Features {
    width: 50%;
    align-items: center;
    height: 50px;
    text-align: center;
    margin: auto;
    color: white;
    font-family: cursive;
}

.SubColorTextureToggle {
    margin: auto;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 52px;
    background-color: red;
    border-radius: 30px;
    border: 2px solid gray;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.toggle:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
    top: 1px;
    left: 1px;
    transition: all 0.5s;
}

.checkbox:checked+.toggle::after {
    left: 22px;
}

.checkbox:checked+.toggle {
    background-color: green;
}

.checkbox {
    display: none;
}

#imageInput {
    margin: auto;
}

.ImageName {
    grid-row-start: 2;
    grid-row-end: 2;
}

input[type="file"] {
    display: none;
    border: 5px;
    border-radius: 5px;
}

label {
    cursor: pointer;
    background-color: black;
}

.InputPicture {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 6;
    width: 640px;
    height: 360px;
}

.ImageContainer {
    display: inline-block;
    margin: 10px;
}

.Image {
    max-width: 100%;
    height: auto;
    width: 400px;
    height: 225px;
    object-fit: cover;
}

.ImageRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.DatasetButton {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Result {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.SearchButton {
    grid-row-start: 4;
    grid-column-start: 7;
    align-items: center;
    text-align: center;
    background-color: black;
    border-radius: 25px;
    height: 50px;
    cursor: pointer;
}

.ColorTitle {
    grid-column-start: 7;
    grid-column-end: 7;
    margin-top: 50px;
}

.TextureTitle {
    grid-column-start: 9;
    grid-column-end: 9;
    margin-top: 50px;
}

.Header {
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 20px;
    text-align: center;
}

.SubHeader {
    font-size: 50px;
    font-family: serif;
    font-weight: bold;
    margin-left: 20px;
}

.Text {
    text-align: justify;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.GambarPenjelasan {
    margin-bottom: 20px;
    margin: auto;
}

.InsertDatasetButton {
    cursor: pointer;
    grid-column-start: 3;
    grid-column-end: 4;
    align-items: center;
    text-align: center;
    background-color: black;
    border-radius: 25px;
    height: 50px;
}

.data-button {
    color: white;
    font-family: cursive;
}

.InsertImageText {
    color: white;
    font-family: cursive;
}

#Color1 {
    grid-column-start: 1;
}

#Color2 {
    grid-column-start: 2;
}
.Logo{
    max-width: 50%;
    max-height: 50%;
}